[submodule "vimfiles/bundle/vim-repeat"]
	path = vimfiles/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vimfiles/bundle/vim-surround"]
	path = vimfiles/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/sqlserversyntax"]
	path = vimfiles/bundle/sqlserversyntax
	url = https://github.com/vim-scripts/sqlserver.vim.git
[submodule "vimfiles/bundle/powershell-syntax"]
	path = vimfiles/bundle/powershell-syntax
	url = https://github.com/vim-scripts/Windows-PowerShell-Syntax-Plugin.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/dbtext"]
	path = vimfiles/bundle/dbtext
	url = https://github.com/vim-scripts/dbext.vim.git
[submodule "vimfiles/bundle/SQLUtilities"]
	path = vimfiles/bundle/SQLUtilities
	url = https://github.com/jphustman/SQLUtilities.git
[submodule "vimfiles/bundle/Align"]
	path = vimfiles/bundle/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "vimfiles/bundle/vim-colors-solarized"]
	path = vimfiles/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vimfiles/bundle/gundo.vim"]
	path = vimfiles/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "vimfiles/bundle/ZoomWin"]
	path = vimfiles/bundle/ZoomWin
	url = https://github.com/dr-chip-vim-scripts/ZoomWin.git
[submodule "vimfiles/bundle/ctrlp"]
	path = vimfiles/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vimfiles/bundle/tcomment"]
	path = vimfiles/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vimfiles/bundle/vim-csharp"]
	path = vimfiles/bundle/vim-csharp
	url = https://github.com/OrangeT/vim-csharp.git
[submodule "vimfiles/bundle/vim-markdown"]
	path = vimfiles/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vimfiles/bundle/vim-unimpaired"]
	path = vimfiles/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vimfiles/bundle/syntastic"]
	path = vimfiles/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vimfiles/bundle/vim-fugitive"]
	path = vimfiles/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/fanfingtastic"]
	path = vimfiles/bundle/fanfingtastic
	url = https://github.com/dahu/vim-fanfingtastic.git
[submodule "vimfiles/bundle/LargeFile"]
	path = vimfiles/bundle/LargeFile
	url = https://github.com/vim-scripts/LargeFile.git
[submodule "vimfiles/bundle/vim-indexed-search"]
	path = vimfiles/bundle/vim-indexed-search
	url = https://github.com/henrik/vim-indexed-search.git
[submodule "vimfiles/bundle/ultisnips"]
	path = vimfiles/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vimfiles/bundle/supertab"]
	path = vimfiles/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vimfiles/bundle/vim-airline"]
	path = vimfiles/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vimfiles/bundle/bufkill"]
	path = vimfiles/bundle/bufkill
	url = https://github.com/blueyed/bufkill.vim
[submodule "vimfiles/bundle/vim-exchange"]
	path = vimfiles/bundle/vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule "vimfiles/bundle/vim-easymotion"]
	path = vimfiles/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
